{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
<h2>Registro</h2>

<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    {% if form.errors %}
        <div style="color:red;">
            {{ form.errors }}
        </div>
    {% endif %}

    <button type="submit">Registrar</button>
</form>

<p>¿Ya tienes cuenta? <a href="{% url 'login' %}">Inicia sesión</a></p>

</body>
</html>
